 html {
        box-sizing: border-box;}
    
    
    *, *:after, *:before {
        box-sizing: inherit;}

#underline {
    text-decoration: underline;
    font-weight: 600;
}

@media screen and (min-width: 922px) {

    
    #imgPortfolio {
    width:80%;
    height:600px;
}
}
